.font-khmer {
    font-size: 18px;
    font-family: 'Battambang', cursive;
    margin: 10px;
}

.school {
    font-size: 13px;
    font-family: 'Battambang', cursive;
}

.active {
    background-color: #ffa500 !important;
}

.example-1 {
    position: relative;
    overflow-x: scroll;
    height: 400px;
}
.overflow-name
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.md-form
{
    padding: 0px;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}