/* that thon */
*{
    font-family: 'Nokora', serif;
    font-size: 18px;
}
body{
    background: rgb(241, 241, 241);
    font-size: 12px !important;
}
.s-profile-box{
    width: 100%;
    height:250px;
    background: url("../img/1f37f4a57453aa29dc17deb798ac9d58.jpg"); 
    background-size: cover;
}

.s-bottomleft {
    position: absolute;
    bottom: -45px;
    left: 30px;
    width: 150px;
  }
  .s-alg-right{
      text-align: center;
  }
  .s-left-8{
      left: 8px;
  }
.s-topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    padding-right: 15px;
  }
  .s-border-box{
      background: white;
      padding: 10px;
      border: 1px solid rgb(225, 228, 225);;
  }
  .s-pt-a-b-10{
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .s-w-32{
      width: 32px;
  }



  
 


  /* that thon */